html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #0095d9;
  text-decoration: none;
  &:hover {
    color: #ec6d51;
    text-decoration: underline;
  }
}

.container {
  width: auto;
  max-width: 600px;
}

#disqus_thread {
  @include rhythm-padding(2);
}

.entry-body {
  @include margin-leader(1);
}
