.single {
  .entry-meta {
    @include adjust-font-size-to(0.8rem);
    color: #999;
  }
  .entry-body {
    h1 {
      border-bottom: 1px solid #f0f0f0;
    }
  }
}

@media screen and (max-width:600px) {
    .single {
        padding: 0 0.5rem;
    }
}
