body {
  color: #555;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Roboto, "Droid Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  @include margin-leader(2);
}

h2, h3 {
  font-weight: bold;
  font-size: 1rem;
  @include margin-leader(1);
}

h4, h5, h6 {
  font-weight: bold;
}

p {
  @include margin-leader(1);
}

pre {
  @include margin-leader(1);
  overflow-x: scroll;
}

ul {
  @include margin-leader(1);
  padding-left: rhythm(1);
  // padding-left: rhythm(1);
  li {
    list-style-type: square;
    list-style-position: inside;
  }
  ul {
    @include margin-leader(0);
  }
}

ol {
  @include margin-leader(1);
  li {
    list-style: decimal;
    list-style-position: inside;
  }
}

strong, em {
  font-weight: bold;
}

code {
    font-family: Consolas, Monaco, 'Liberation Mono', Courier, monospace;
}
