@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 100%;
  line-height: 1.6875em;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #0095d9;
  text-decoration: none;
}
a:hover {
  color: #ec6d51;
  text-decoration: underline;
}

.container {
  width: auto;
  max-width: 600px;
  margin: 0 auto;
}

#disqus_thread {
  padding-top: 54px;
  padding-top: 3.375rem;
  padding-bottom: 54px;
  padding-bottom: 3.375rem;
}

.entry-body {
  margin-top: 27px;
  margin-top: 1.6875rem;
}

body {
  color: #555;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Roboto, "Droid Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 54px;
  margin-top: 3.375rem;
}

h2, h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 27px;
  margin-top: 1.6875rem;
}

h4, h5, h6 {
  font-weight: bold;
}

p {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
p code {
  background-color: #f1efee;
  padding: 0.1rem 0.2rem;
  margin: 0 0.1rem;
}

pre {
  margin-top: 27px;
  margin-top: 1.6875rem;
}

ul {
  margin-top: 27px;
  margin-top: 1.6875rem;
  padding-left: 1.6875rem;
}
ul li {
  list-style-type: square;
  list-style-position: inside;
}
ul ul {
  margin-top: 0px;
  margin-top: 0rem;
}

ol {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
ol li {
  list-style: decimal;
  list-style-position: inside;
}

strong, em {
  font-weight: bold;
}

code {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  font-size: 0.8rem;
  vertical-align: middle;
  font-family: Consolas, Monaco, 'Liberation Mono', Courier, monospace;
  overflow-x: scroll;
}

.site-header {
  text-align: center;
  position: relative;
  height: auto;
  padding-top: 27px;
  padding-top: 1.6875rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
.site-header .site-title {
  margin: 0;
  font-size: 26px;
  font-size: 1.6rem;
  line-height: 54px;
  line-height: 3.375rem;
  font-weight: bold;
}
.site-header .site-title a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  text-decoration: none;
}
.site-header .site-title a:active, .site-header .site-title a:focus {
  outline: none;
}
.site-header .site-title a:hover, .site-header .site-title a:focus {
  text-decoration: underline;
}
.site-header img {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  border: 3px solid #ccc;
  width: 6.75rem;
  height: auto;
}
.site-header img:hover {
  border: 3px solid #f0f0f0;
}
.site-header ul {
  margin: 0;
  padding: 0;
}
.site-header ul li {
  padding: 0 0.84375rem;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  font-size: 1rem;
  line-height: 27px;
  line-height: 1.6875rem;
}
.site-header ul li a {
  color: #999;
}

footer {
  padding-top: 27px;
  padding-top: 1.6875rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
footer .footer-link {
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 54px;
  line-height: 3.375rem;
}
footer a {
  margin: 0 0.2rem;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
footer a:active, footer a:focus {
  outline: none;
}

.copyright {
  text-align: center;
  font-size: 8px;
  font-size: 0.5rem;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #999;
}

.twitter:hover {
  color: #55acee;
}

.facebook:hover {
  color: #315096;
}

.github:hover {
  color: #4183c4;
}

.list .list-title {
  margin: 0;
  padding: 0;
}
.list ul {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-top: 1.6875rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
.list li {
  list-style: none;
  border-top: 1px solid #f0f0f0;
}
.list li:last-child {
  border-bottom: 1px solid #f0f0f0;
}
.list li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: block;
  padding: 0.5rem;
}
.list li a:active, .list li a:focus {
  outline: none;
}
.list li a:hover {
  background-color: #fcfcfc;
}
.list li .entry-title {
  margin: 0;
  padding: 0;
}
.list li .entry-meta {
  color: #999;
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 27px;
  line-height: 1.6875rem;
}

.single .entry-meta {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #999;
}
.single .entry-body h1 {
  border-bottom: 1px solid #f0f0f0;
}

@media screen and (max-width: 600px) {
  .single {
    padding: 0 0.5rem;
  }
}
