@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 74.0%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }

  .eleven.columns {
    width: 91.3333333333%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
html {
  font-size: 100%;
  line-height: 1.6875em;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  color: #0095d9;
  text-decoration: none;
}
a:hover {
  color: #ec6d51;
  text-decoration: underline;
}

.container {
  width: auto;
  max-width: 600px;
}

#disqus_thread {
  padding-top: 54px;
  padding-top: 3.375rem;
  padding-bottom: 54px;
  padding-bottom: 3.375rem;
}

.entry-body {
  margin-top: 27px;
  margin-top: 1.6875rem;
}

body {
  color: #555;
  line-height: 1.5;
  font-family: Roboto, “Droid sans”, “遊ゴシック”, “Yu Gothic”, “メイリオ”, “Meiryo”, “ヒラギノ角ゴ Pro W3”, “Hiragino Kaku Gothic ProN” sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 54px;
  margin-top: 3.375rem;
}

h2, h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 27px;
  margin-top: 1.6875rem;
}

h4, h5, h6 {
  font-weight: bold;
}

p {
  margin-top: 27px;
  margin-top: 1.6875rem;
}

pre {
  margin-top: 27px;
  margin-top: 1.6875rem;
  overflow-x: scroll;
}

ul {
  margin-top: 27px;
  margin-top: 1.6875rem;
  padding-left: 1.6875rem;
}
ul li {
  list-style-type: square;
  list-style-position: inside;
}
ul ul {
  margin-top: 0px;
  margin-top: 0rem;
}

ol {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
ol li {
  list-style: decimal;
  list-style-position: inside;
}

strong, em {
  font-weight: bold;
}

.site-header {
  text-align: center;
  position: relative;
  height: auto;
  padding-top: 27px;
  padding-top: 1.6875rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
.site-header .site-title {
  margin: 0;
  font-size: 26px;
  font-size: 1.6rem;
  line-height: 54px;
  line-height: 3.375rem;
  font-weight: bold;
}
.site-header .site-title a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  text-decoration: none;
}
.site-header .site-title a:active, .site-header .site-title a:focus {
  outline: none;
}
.site-header .site-title a:hover, .site-header .site-title a:focus {
  text-decoration: underline;
}
.site-header img {
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  border: 3px solid #ccc;
  width: 6.75rem;
  height: auto;
}
.site-header img:hover {
  border: 3px solid #f0f0f0;
}
.site-header ul {
  margin: 0;
  padding: 0;
}
.site-header ul li {
  padding: 0 0.84375rem;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  font-size: 1rem;
  line-height: 27px;
  line-height: 1.6875rem;
}
.site-header ul li a {
  color: #999;
}

footer {
  padding-top: 27px;
  padding-top: 1.6875rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
footer .footer-link {
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  line-height: 54px;
  line-height: 3.375rem;
}
footer a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
footer a:active, footer a:focus {
  outline: none;
}

.copyright {
  text-align: center;
  font-size: 8px;
  font-size: 0.5rem;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #999;
}

.list .list-title {
  margin: 0;
  padding: 0;
}
.list ul {
  margin: 0;
  padding-top: 27px;
  padding-top: 1.6875rem;
  padding-bottom: 27px;
  padding-bottom: 1.6875rem;
}
.list li {
  list-style: none;
  border-top: 1px solid #f0f0f0;
}
.list li:last-child {
  border-bottom: 1px solid #f0f0f0;
}
.list li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: block;
  padding: 0.5rem;
}
.list li a:active, .list li a:focus {
  outline: none;
}
.list li a:hover {
  background-color: #fcfcfc;
}
.list li .entry-title {
  margin: 0;
  padding: 0;
}
.list li .entry-meta {
  color: #999;
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 27px;
  line-height: 1.6875rem;
}

.single .entry-meta {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #999;
}
.single .entry-body h1 {
  border-bottom: 1px solid #f0f0f0;
}
